body {
   text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

body > header, body > section, body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

header, section {
  border-bottom: 1px solid #eee;
}

header, section, footer {
  border-top: 1px solid #fff;
}

section, footer {
  padding: 30px 0;
}

header h1 a {
  color: #333;
  border-bottom: none;
}

header p {
  margin: 2em 0;
}

p, pre {
  font-size: 1.2em;
  line-height: 1.8em;
}

@media (min-width: 960px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.9em;
  }
}

/* Styles to help demonstrate the grid */

code, pre {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
  background: #48D1CC;
  color: #333;
  padding: 3px;
  border-radius: 5px;
}

pre {
  padding: 10px;
  text-align: center;
}

.demo p {
  margin: 0;
}

.demo .unit pre {
  margin: 0;
  padding: 20px 0;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.demo .unit pre:hover {
  background: #8FBC8F;
}

.grid, .unit {
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.demo .unit .grid {
  overflow: hidden;
  background: rgb(0,139,139, 0.5);
}

.demo .unit .grid:first-child {
  border-radius: 5px 5px 0 0;
}

.demo .unit .grid:last-child {
  border-radius: 0 0 5px 5px;
}
  letter-spacing: -.05em;
}

header, section {
  border-bottom: 1px solid #eee;
}

header, section, footer {
  border-top: 1px solid #fff;
}

section, footer {
  padding: 30px 0;
}

header h1 a {
  color: #333;
  border-bottom: none;
}

header p {
  margin: 2em 0;
}

p, pre {
  font-size: 1.2em;
  line-height: 1.8em;
}

@media (min-width: 960px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.9em;
  }
}