body, p, h1, h2 {
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0.3rem;
  font-weight: 300;
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
}

body, p {
  text-transform: none;
  line-height: 1.5em;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 3rem;
  font-family: "Fira Sans", sans-serif;
}

h2 {
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0.5rem;
  font-weight: 400;
  font-size: 3rem;
  font-family: "Fira Sans", sans-serif;
}

h3 {
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}

h4 {
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0.3rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
}

h5, h6 {
  text-transform: none;
  line-height: 1.5em;
  letter-spacing: 0.3rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
}

header {
  text-transform: none;
  line-height: 1.5em;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 4rem;
  font-family: "Fira Sans", sans-serif;
}

footer {
  text-transform: none;
  line-height: 1.5em;
  letter-spacing: 0.3rem;
  font-weight: 100;
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
}

body {
  line-height: 2;
  marging: 10em;
  padding: 2em;
  color: #f87979;
  background-color: #f2f2f2;
  border-width: 100px;
}